:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --link: #007bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  position: relative;
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  font-family: "Spartan", sans-serif;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}
